In [82]:
import pandas as pd
words= pd.read_csv('3k/words.csv', header=None, keep_default_na = False)
phon= pd.read_csv('3k/phon.csv', header=None)
orth= pd.read_csv('3k/orth.csv', header=None)
#words[words[0].isnull()] = 'null'

In [83]:
phon = phon.set_index(words[0])
orth = orth.set_index(words[0])

In [84]:
phon.loc[['fawn','hitch']]

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,,,,,,,,,,,,,,,,,,,,,
fawn,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hitch,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
mono = pd.read_csv ('mono_partial1000.csv')
mono = mono[mono['source'] == '3k']
aoa = mono['word'][0:300]
#print (aoa)

In [86]:
x = [0]*2881
y = [0]*2881
for i in range(2881):
    x[i] = any(aoa.eq(words[0][i]))
    y[i] = not x[i]
    
sum(x)

300

In [87]:
#opwords = pd.read_csv("3k/opwords.csv")
#training = opwords[opwords["value"] == "training"]
#training_set = training[["words"]]
training_set = pd.Series(words[x][0])
testing_set = pd.Series(words[y][0])

In [88]:
orthaoa300testing = pd.DataFrame(testing_set)
orthaoa300testing.to_csv ("3k/orthaoa300testing.csv")

In [89]:
orthaoa300training = pd.DataFrame (training_set)
orthaoa300training.to_csv ("3k/orthaoa300training.csv")

In [90]:
phonaoa300training = pd.DataFrame (training_set)
phonaoa300training.to_csv ("3k/phonaoa300training.csv")

In [91]:
phonaoa300testing = pd.DataFrame (testing_set)
phonaoa300testing.to_csv ("3k/phonaoa300testing.csv")

In [93]:
orth.loc[training_set].to_csv("3k/orth_aoa300_reps_train.csv", header=False)
orth.loc[testing_set].to_csv("3k/orth_aoa300_reps_test.csv", header=False)
phon.loc[training_set].to_csv("3k/phon_aoa300_reps_train.csv", header=False)
phon.loc[testing_set].to_csv("3k/phon_aoa300_reps_test.csv", header=False)